* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #76d9fb;
    --secondary-color: #ea7c7c;
    --danger-color: #f80202;
    --darkGray-color: #2b2c36;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    background-color: var(--darkGray-color);
}


