* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #76d9fb;
    --white-color: #edf2f8;
    --darkGray-color: #edf2f8;
}

body {
    background-color: var(--darkGray-color);
}


